POSTGRES_DB=archai
POSTGRES_USER=archai
POSTGRES_PASSWORD=archai123
GEMINI_API_KEY=your_gemini_key
PINECONE_API_KEY=your_pinecone_key
PINECONE_INDEX_NAME=archai-rag
JWT_SECRET=change-me-super-secret-key-archai
EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://service-registry:8761/eureka/
SPRING_PROFILES_ACTIVE=docker
